$font-fam: Roboto, 'Open Sans', Ubuntu, Arial, sans-serif;

$black: #16181a;
$blue: #4C76BD;
$teal: #3EB6A6;
$green: #88a550;
$grey: #a3a599;
$orange: #ff8d3f;
$purple: #8859b6;
$red: #f34a4a;
$cyan: #336e7b;
$white: #FAFBFC;
$yellow: #fbcd4b;

$d0: #11161e;
$d1: #141921;
$d2: #0e1219;
$d3: #0b0f15;
$d4: #F4F5F7;

$s0: #18191A;
$s1: #262f34;
$s2: #1e1e20;
$s3: #2D3033;

$f0: #FAFBFC;
$f1: #d4e3ef;
$f2: #c7d5e2;
$f3: #20232a;

$active: $blue;
$secondary: $teal;
$desc: $f2;
$error: $red;
$norm: $f3;
$info: $cyan;
$success: $green;
$warn: $orange;

$dark: #1E1E20;
$darker: #1A1A1C;

$font-size:   10px;
@function rem($multiplier) {
  @return $multiplier * $font-size;
}
$display-4-font-size-base: rem(11.20);
$display-3-font-size-base: rem(5.600);
$display-2-font-size-base: rem(4.500);
$display-1-font-size-base: rem(3.400);
$headline-font-size-base:  rem(2.400);
$title-font-size-base:     rem(2.000);
$subhead-font-size-base:   rem(1.600);

$body-font-size-base:      rem(1.400);
$caption-font-size-base:   rem(1.200);

$layout-breakpoint-xs:     639px;
$layout-breakpoint-sm:     640px;
$layout-breakpoint-md:     768px;
$layout-breakpoint-lg:     960px;
$layout-breakpoint-xl:     1024px;

// :root {
//   --mdc-theme-primary: #{$active};
//   --mdc-theme-accent: #{$grey};
//   --mdc-theme-secondary: #{$purple};
//   --mdc-theme-on-primary: #{$f1};
// }

@mixin layout-for-name($name: null) {
  @if $name == null { $name: ''; }
  @if $name != '' { $name: '-#{$name}'; }
  .flex#{$name}-col, .flex#{$name}-row {
    box-sizing: border-box;
    display: flex;
  }
  .flex#{$name}-col { flex-direction: column; }
  .flex#{$name}-row { flex-direction: row; }

  .flex-col > .flex { min-width: 0; }
  .flex-row > .flex { min-height: 0; }
}
@mixin flex-for-name($name: null) {
  $flexName: 'flex';
  @if $name != null {
    $flexName: 'flex-#{$name}';
    $name : '-#{$name}';
  } @else {
    $name : '';
  }
  .#{$flexName} { flex: 1; box-sizing: border-box; }
}
@mixin md-title() {
  font-size: $title-font-size-base;
  font-weight: 500;
  letter-spacing: 0.005em;
}
@mixin md-body-1() {
  font-size: $body-font-size-base;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: rem(2);
}
@mixin md-body-2() {
  font-size: $body-font-size-base;
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: rem(2.4);
}
@mixin md-subhead() {
  font-size: $subhead-font-size-base;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: rem(2.4);
}
@function color-luminance($color) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  @return 0.2126 * $red + 0.7152 * $green + 0.0722 * $blue;
}
@function color-contrast($back, $front) {
  $backLum: color-luminance($back) + 0.05;
  $foreLum: color-luminance($front) + 0.05;

  @return max($backLum, $foreLum) / min($backLum, $foreLum);
}
@function color-tone($color) {
  @if $color == 'dark' or $color == 'light' {
    @return $color;
  }

  $minimumContrast: 3.1;

  $lightContrast: color-contrast($color, $f1);
  $darkContrast: color-contrast($color, rgba($f3, 0.87));

  @if ($lightContrast < $minimumContrast) and ($darkContrast > $lightContrast) {
    @return 'light';
  } @else {
    @return 'dark';
  }
}
@function contrast-color($color) {
  @return if(color-tone($color) == 'dark', 'light', 'dark');
}
