* {
  margin: 0;
  padding: 0;
  &, &::before, &::after {
    box-sizing: border-box;
  }
}
body,html {
  height: 100%;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
}
[tabindex="-1"]:focus {
  outline: none;
}
[v\:cloak], [v-cloak], [data-v-cloak], [x-v-cloak], .v-cloak, .x-v-cloak {
  display: none !important;
}
button,input,select,textarea {
  vertical-align: baseline;
}
button,html input[type=button],input[type=reset],input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  &[disabled] {
    cursor: default;
  }
}
textarea {
  vertical-align: top;
  overflow: auto;
}
.md-shadow-bottom-z-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.md-shadow-bottom-z-2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.md-padding {
  padding: 8px;
}
.md-margin {
  margin: 8px;
}
body,html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.md-display-4 {
  font-size: $display-4-font-size-base;
  font-weight: 300;
  letter-spacing: -.01em;
  line-height: $display-4-font-size-base;
}
.md-display-3 {
  font-size: $display-3-font-size-base;
  font-weight: 400;
  letter-spacing: -.005em;
  line-height: $display-3-font-size-base;
}
.md-display-2 {
  font-size: $display-2-font-size-base;
  font-weight: 400;
  line-height: rem(6.400);
}
.md-display-1 {
  font-size: $display-1-font-size-base;
  font-weight: 400;
  line-height: rem(4.00);
}
.md-headline {
  font-size: $headline-font-size-base;
  font-weight: 400;
  line-height: rem(3.200);
}
.md-caption {
  font-size: $caption-font-size-base;
  letter-spacing: .02em;
}
.md-btn, button, input[type=button], input[type=reset], input[type=submit] {
  letter-spacing: .0892857143em;
}
button,html,input,select,textarea {
  font-family: $font-fam;
}
button,input,select,textarea {
  font-size: 100%;
  border: 0;
}
html {
  font-size: 16px;
  line-height: 1.5;
}
body {
  font-size: rem(1.600);
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
a {
  text-decoration: none;
  font-weight: 400;
  transition: color 0.35s;
  color: $cyan;
  &:hover {
    color: darken($cyan, 10%);
  }
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: rem(1);
  margin-top: rem(1);
}
h1 {
  font-size: rem(3.400);
  font-weight: 400;
  line-height: rem(4.00);
}
h2 {
  font-size: rem(2.400);
  font-weight: 400;
  line-height: rem(3.2);
}
h3 {
  font-size: rem(2.000);
  font-weight: 500;
  letter-spacing: 0.005em;
}
h4 {
  font-size: rem(1.600);
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: rem(2.40);
}
p {
  font-size: rem(1.60);
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}
strong {
  font-weight: 500;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.md-title {
  @include md-title;
}
.md-body-1 {
  @include md-body-1;
}
.md-body-2 {
  @include md-body-2;
}
.md-subhead {
  @include md-subhead;
}
.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: rem(1);
  padding-left: rem(1);
  @media (min-width: 0) and (max-width: $layout-breakpoint-xs) {
    max-width: 100%;
  }
  @media (min-width: $layout-breakpoint-sm) {
    max-width: $layout-breakpoint-sm;
  }
  @media (min-width: $layout-breakpoint-md) {
    max-width: $layout-breakpoint-md;
  }
  @media (min-width: $layout-breakpoint-lg) {
    max-width: $layout-breakpoint-lg;
  }
  @media (min-width: $layout-breakpoint-xl) {
    max-width: $layout-breakpoint-xl;
  }
}
// .md-card {
//   &:not(.board) {
//     width: 100%;
//     margin: 30px 0;
//     overflow: unset;
//     box-shadow: 0 2px 2px 0 rgba($black, 0.2), 0 3px 1px -2px rgba($black, 0.14), 0 1px 5px 0 rgba($black, 0.12);
//     &-content {
//       padding: 1.5rem 3rem;
//       line-height: inherit;
//     }
//     &-header {
//       box-shadow: 0 10px 30px -12px rgba($black, 0.2), 0  4px 25px 0px rgba($black, 0.14), 0  8px 10px -5px rgba($black, 0.12);
//       margin: -40px  20px 1.5rem;
//       border-radius: 3px;
//       padding: 20px 0;
//     }
//     &-actions {
//       margin: 0 20px 10px;
//       padding: 10px 0 0 0;
//       border-top: 1px solid rgba(#eee, 0.1);
//     }
//   }
// }
