@import './init';

@import './overrides';

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  border-radius: 4px !important;
  display: initial;
  &-corner {
    background-color: $d2 !important;
  }
  &-track {
    background-color: $s1 !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &-thumb {
    // background: rgba(112, 122, 140, 1);
    background-color: $f3;
    border-radius: 5px !important;
    cursor: pointer !important;
    outline: 1px solid slategrey;
  }
}

@include layout-for-name;
@include flex-for-name;

.mudhead,
.rykn0wxx {
  color: $f1;
  background-color: $dark;
}

// .smooth-dnd-ghost {
//   background-color: $active;
//   transition: transform 0.18s ease;
//   transform: rotateZ(5deg);
// }
// .smooth-dnd-ghost-drop {
//   transition: transform 0.18s ease-in-out;
//   transform: rotateZ(0deg);
// }
// .opacity-ghost {
//   transition: all 0.18s ease;
//   opacity: 0.8;
//   /* transform: rotateZ(5deg); */
//   background-color: cornflowerblue;
//   box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
// }

// .dd-card-ghost {
//   background-color: $error;
// }
